@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<header style="height:50px;">
    <div class="col-sm-12">
        <nav class="navbar navbar-inverse">
            <ul class="nav navbar-nav">
                <li><a href="/home">home</a></li>
                <li><a href="/bmw">bmw</a></li>
                <li><a href="/audi">audi</a></li>
            </ul>
        </nav>
    </div>
</header>
