@using Sitecore.Mvc
<div class="container">
    <div class="col-sm-6">
        @Html.Sitecore().Placeholder("left")
    </div>
    <div class="col-sm-6">
        @Html.Sitecore().Placeholder("right")
    </div>
</div>